* {
    padding: 0px;
    margin: 0px;
}

.breakpointImageContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breakpointImage {
    width: 328px;
    height: 340px;
    color:black;
    background-image: url(phone.png);
    background-position: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .breakpointImage {
        background-color: gray;  
        display: flex;
        width: 600px;
        height: 450px;
        align-items: center;
        background-image: url(tablet.png);
        object-fit: scale-down;
    }   
 }

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .breakpointImage {
        background-color: transparent;  
        display: flex;
        width: 900px;
        height: 900px;
        align-items: center;
        background-image: url(desktop.png);
        object-fit: contain;
    }   
 }